{% extends 'authentication_page_template.html' %}
{% load static %}
{% block body_class %}register-page{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'mymental/css/register_style.css' %}">
<div class="login_box">
  <h3 class="login_title">Register</h3>
  <div class="line"></div>
  <br>
  <form method="POST" class="form-container">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="non_field_errors">
      {% for error in form.non_field_errors %}
      <p class="error-text">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% for field in form %}
    <div class="form_group">
      <span class="input_text">{{ field.label_tag }}</span>
      <span class="input_field">{{ field }}</span>
      {% if field.errors %}
      <div class="field_errors">
        {% for error in field.errors %}
        <p class="error-text">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
    <input type="submit" class="button" value="Register">
  </form>
  <span><a href="{% url 'login' %}" class="login_here">Login here</a></span>
</div>
{% endblock %}